@model IEnumerable<data.Models.SensorDataEntity>

@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<div class="container center-block">
    <button type="button" class="btn btn-danger btn-lg" onclick="var action = function() { location.href = '@Url.Action("Outofbed", "Data")'; };action();">Outofbed</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="var action = function() { location.href = '@Url.Action("Leftside", "Data")'; };action();">Leftside</button>
    <button type="button" class="btn btn-success btn-lg" onclick="var action = function() { location.href = '@Url.Action("Rightside", "Data")'; };action();">Rightside</button>
    <button type="button" class="btn btn-info btn-lg" onclick="var action = function() { location.href = '@Url.Action("Back", "Data")'; };action();">Back</button>
    <button type="button" class="btn btn-warning btn-lg" onclick="var action = function() { location.href = '@Url.Action("Belly", "Data")'; };action();">Belly</button>
</div>
<br>
<br>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Data</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        if (Model.FirstOrDefault()?.SensorDataId.Equals(item.SensorDataId) ?? false)
        {
            <tr class="bg-success">
                <td>
                    @Html.DisplayFor(modelItem => item.SensorDataId.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SensorData.SensorDataValue.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SensorData.SensorDataCreated)
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SensorDataId.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SensorData.SensorDataValue.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SensorData.SensorDataCreated)
                </td>
            </tr>
        }
    }
    </tbody>
</table>
<br>
<br>