@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<div class="container center-block">
    <button type="button" class="btn btn-danger btn-lg" onclick="var action = function() { location.href = '@Url.Action("Outofbed", "Data")'; };action();">Outofbed</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="var action = function() { location.href = '@Url.Action("Leftside", "Data")'; };action();">Leftside</button>
    <button type="button" class="btn btn-success btn-lg" onclick="var action = function() { location.href = '@Url.Action("Rightside", "Data")'; };action();">Rightside</button>
    <button type="button" class="btn btn-info btn-lg" onclick="var action = function() { location.href = '@Url.Action("Back", "Data")'; };action();">Back</button>
    <button type="button" class="btn btn-warning btn-lg" onclick="var action = function() { location.href = '@Url.Action("Belly", "Data")'; };action();">Belly</button>
    <br>
    <br>
    <input type="checkbox" id="sensorDataCheckbox" checked data-toggle="toggle">
    <span>
        Generate sensor data automatically every
        <input class="input-sm" type="number" id="sensorDataRandomFrom" value="1">
        to
        <input class="input-sm" type="number" id="sensorDataRandomTo" value="1">
        seconds
    </span>
</div>
<br>
<br>
<div id="sensorData">
    @await Component.InvokeAsync("SensorData")
</div>
<br>
<br>